<form name="login" (ngSubmit)="login()">

    <table>
  
      <tr>

          <mat-form-field>
              <input matInput type="text" placeholder="Korisničko ime" [(ngModel)]="korime_login" name="korime_login">
            </mat-form-field>
      </tr>
  
      <tr>

          <mat-form-field>
              <input matInput type="password" placeholder="Lozinka" [(ngModel)]="lozinka_login" name="lozinka_login">
            </mat-form-field>
      </tr>
  
    </table>
   
      <button mat-button type="submit"  > Uloguj se</button>


  </form>

  <div>
    <a mat-stroked-button routerLink="/zaboravljenaLozinka" >Zaboravili ste lozinku?</a>
  </div>
