a {
    width:fit-content;
    padding: 10px;
    margin: auto;
}


.tabelaDana {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .tabelaDana td, .tabelaDana th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .tabelaDana tr:nth-child(even){background-color: #f2f2f2;}
  
  .tabelaDana tr:hover {background-color: #ddd;}
  
  .tabelaDana th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }