

<a mat-raised-button routerLink="/plavi" style="background-color: #0074d9; margin: 22px">Multiplayer plavi</a>

<a mat-raised-button routerLink="/igradana" color="primary" >Igra dana</a>


<a mat-raised-button routerLink="/crveni" style="background-color: #DC143C; margin:22px">Multiplayer crveni</a>

<br>
<br>

<mat-card *ngIf="!rangTabelaDanas.length">
    <mat-label>Danas još uvek niko nije odigrao igru dana. Budi 1!</mat-label>
</mat-card>

<mat-card *ngIf="rangTabelaDanas.length">
   <div style="margin-bottom: 14px">Rezultati današnje Igre dana: </div>

    <table class="tabelaDana">

        <tr>
            <th> Rang </th>
            <th> Takmičar </th>
            <th> Poeni </th>

        </tr>

        <tr *ngFor="let element of rangTabelaDanas; let i = index">
            <td *ngIf="!(i>9) || korime==element.takmicar"> {{i+1}}. </td>
            <td *ngIf="!(i>9) || korime==element.takmicar"> {{element.takmicar}} </td>
            <td *ngIf="!(i>9) || korime==element.takmicar"> {{element.poeniUkupno}} </td>

        </tr>


    </table>
</mat-card>