<h2>Vesala</h2>
Broj poena u ovoj igri: {{brojpoena}}

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="32px" fxLayoutAlign="space-around center">

        <div class="bla1">
        <div>
            <div class="slova" *ngFor="let slovo of slova; index as i">

                <span *ngIf="usloviZaPrikaz[i]">{{slovo}}</span>
    
            </div>
        </div>
       
        <div class="slika">
            <img [@fade]="state" (@fade.done)="onDone($event)" [src]="imageSource"  />

        </div>
</div>




        <div class="bla2">

            <button class="azbuka" *ngFor="let slovo of azbuka" (click)="proveri(slovo)">{{slovo}}</button>

            <div *ngIf="uspesno">
                <h4>Cestitamo! Pogodili ste trazenu rec! Rec je: {{recZaPogadjanje}}</h4>
            </div>

            <div *ngIf="obesen">
                <h3>Ups! Cica Glisa je obesen! Rec je bila: {{recZaPogadjanje}}</h3>
            </div>

        </div>



</div>