<h1>Rezultat</h1>


<table matSort>

    <tr>
        <th mat-sort-header="anagram">Anagram</th>
        <th mat-sort-header="mojbroj">Moj broj</th>
        <th mat-sort-header="vesala">Vešala</th>
        <th mat-sort-header="geografija">Zanimljiva geografija</th>
        <th mat-sort-header="pehar">Pehar</th>
        <th mat-sort-header="ukupno">Ukupno</th>
    </tr>

    <tr>
        <td>{{poeniAnagram}}</td>
        <td>{{poeniMojbroj}}</td>
        <td>{{poeniVesala}}</td>
        <td>{{poeniGeografija}}</td>
        <td>{{poeniPehar}}</td>
        <td>{{ukupno}}</td>
    </tr>

</table>