<h3>Promena lozinke</h3>

<form [formGroup]="forma" name="forma" (ngSubmit)="promeniLozinku()">
      <mat-form-field>
      <input matInput placeholder="Korisnicko ime" formControlName="korime">
      <mat-error *ngIf="forma.get('korime').hasError('nepostojeceKorime') && !forma.get('korime').hasError('required')">
        Uneli ste nepostojeće korisničko ime.
      </mat-error>
      <mat-error *ngIf="forma.get('korime').hasError('required')">
        Morate uneti <strong>korisničko ime</strong>
      </mat-error>
      </mat-form-field>
      <mat-form-field>
      <input matInput type="password" placeholder="Vaša trenutna lozinka" formControlName="staraLozinka" pattern>
      <mat-error *ngIf="forma.get('staraLozinka').hasError('pattern') && !forma.get('staraLozinka').hasError('required')">
        Vasa lozinka sigurno ima to i to.
      </mat-error>
      <mat-error *ngIf="forma.get('staraLozinka').hasError('required')">
        Morate uneti Vašu <strong>trenutnu lozinku</strong>
      </mat-error>
    </mat-form-field>

      <mat-form-field>
      <input matInput type="password" placeholder="Nova lozinka" formControlName="novaLozinka" pattern="^(?=.{8,12}$)(?!.*(\S)\1{2})(?=.*[A-Z])(?=.*[a-z]{3})(?=.*\d)(?=.*[^a-zA-Z0-9])([a-zA-Z]\S*)$">
      <mat-error *ngIf="forma.get('novaLozinka').hasError('pattern') && !forma.get('novaLozinka').hasError('required')">
        Lozinka mora imati veliko slovo, broj, specijalan znak, 8-12 karaktera i bez ponavljanja 3 uzastopna!
      </mat-error>
      <mat-error *ngIf="forma.get('novaLozinka').hasError('required')">
        Morate uneti <strong>novu lozinku</strong>
      </mat-error>
    </mat-form-field>

      <mat-form-field>
      <input matInput type="password" placeholder="Potvrda nove lozinke" formControlName="potvrdaNoveLozinke">
      <mat-error *ngIf="forma.get('potvrdaNoveLozinke').hasError('razliciteLozinke') && !forma.get('potvrdaNoveLozinke').hasError('required')">
        Lozinke se ne poklapaju.
      </mat-error>
      <mat-error *ngIf="forma.get('potvrdaNoveLozinke').hasError('required')">
        Obavezno unesite ponovo <strong>novu lozinku</strong>
      </mat-error>
    </mat-form-field>
    
    <button mat-button type="submit">Potvrdi</button>

  </form>


