<h4>Registruj se:</h4>
<br>

<form [formGroup]="regForma" name="registracija" (ngSubmit)="registracija()">

  <table>

    <tr>
    <label>Ime</label>
    <input type="text" formControlName="ime"  >
    </tr>

    <tr>
    <label>Prezime</label>
    <input type="text" formControlName="prezime" >
    </tr>

    <tr>
    <label>Email</label>
    <input type="text" formControlName="email">


  
    <div *ngIf="regForma.get('email').hasError('emailZauzet')">
      😢 Ovaj e-mail je vec registrovan!
    </div>

    <div *ngIf="regForma.get('email').hasError('email')">
      😢 Unesite validan email!
    </div>

    </tr>

    <tr>
    <label>Zanimanje</label>
    <input type="text" formControlName="zanimanje" >  
    </tr>

    <tr>
    <label>Korisnicko ime</label>
    <input type="text" formControlName="korime">
    <div *ngIf="regForma.get('korime').hasError('korimeZauzeto')">
      😢 Dato korisnicko ime je zauzeto!
    </div>
    </tr>

    <tr>
    <label>Lozinka</label>
    <input type="password" formControlName="lozinka">
    </tr>

    <tr>
    <label>Ponovi lozinku</label>
    <input  type="password" formControlName="potvrdaLozinke"  >
    <div *ngIf="regForma.get('potvrdaLozinke').hasError('razliciteLozinke')">
      😢 Lozinke se ne poklapaju!
    </div>
    </tr>

    <tr>
    <label>Pol</label>
    <input type="text" formControlName="pol" >
    </tr>

    <tr>
    <label>JMBG</label>
    <input type="text" formControlName="jmbg" pattern="[0-9]{13}" name="jmbg">
    <div *ngIf="((regForma.get('jmbg').hasError('neispravanJmbg') || regForma.get('jmbg').hasError('pattern'))&&regForma.get('jmbg').touched)">
      😢 Nije dobar JMBG format!
    </div>
    </tr>

    <tr>
      <label>Profilna slika</label>
      <button mat-stroked-button type="button" (click)="izaberiFajl.click()">Izaberi sliku</button>
      <input type="file" #izaberiFajl (change)="izabranaSlika($event)">
      <div class="image-preview" *ngIf="linkSlike !=='' && linkSlike && regForma.get('slika').valid">
          <img [src]="linkSlike" [alt]="regForma.value.naslovSlike">
      </div>
    </tr>

  </table>
 

  <input type="submit" value="Registruj se">

  
</form>

