<h4>Registruj se:</h4>
<br>

<form [formGroup]="regForma" name="registracija" (ngSubmit)="registracija()">

  <table>

    <tr>

      <mat-form-field>
        <input matInput type="text" placeholder="Ime" formControlName="ime">
      </mat-form-field>
    </tr>

    <tr>
      <mat-form-field>
        <input matInput type="text" placeholder="Prezime" formControlName="prezime">
      </mat-form-field>
    </tr>

    <tr>

      <mat-form-field>
        <input matInput type="text" placeholder="Email" formControlName="email">
        <mat-error *ngIf="regForma.get('email').hasError('emailZauzet')">
          Ovaj e-mail je vec registrovan!
        </mat-error>
        <mat-error *ngIf="regForma.get('email').hasError('email')">
          Unesite validan email!
        </mat-error>
      </mat-form-field>

    </tr>

    <tr>
      <mat-form-field>
        <input matInput type="text" placeholder="Zanimanje" formControlName="zanimanje">
      </mat-form-field>
    </tr>

    <tr>

      <mat-form-field>
        <input matInput type="text" placeholder="Korisničko ime" formControlName="korime">
        <mat-error *ngIf="regForma.get('korime').hasError('korimeZauzeto')">
          Dato korisničko ime je zauzezo!
        </mat-error>

      </mat-form-field>

    </tr>

    <tr>

      <mat-form-field>
        <input matInput type="password" placeholder="Lozinka" formControlName="lozinka"
          pattern="^(?=.{8,12}$)(?!.*(\S)\1{2})(?=.*[A-Z])(?=.*[a-z]{3})(?=.*\d)(?=.*[^a-zA-Z0-9])([a-zA-Z]\S*)$">
        <mat-error *ngIf="regForma.get('lozinka').hasError('pattern')">
          Mora veliko slovo,broj,znak,8-12 karaktera,bez ponavljanja 3 uzastopna.
        </mat-error>
      </mat-form-field>

    </tr>

    <tr>

      <mat-form-field>
        <input matInput type="password" placeholder="Ponovi lozinku" formControlName="potvrdaLozinke">
        <mat-error *ngIf="regForma.get('potvrdaLozinke').hasError('razliciteLozinke')">
          Lozinke se ne poklapaju!
        </mat-error>
      </mat-form-field>



    </tr>

    <tr>

      <mat-form-field>
        <input matInput type="text" placeholder="Pol" formControlName="pol">
      </mat-form-field>

    </tr>

    <tr>

      <mat-form-field>
        <input matInput type="text" placeholder="JMBG" formControlName="jmbg" pattern="[0-9]{13}">
        <mat-error *ngIf="((regForma.get('jmbg').hasError('neispravanJmbg') || regForma.get('jmbg').hasError('pattern'))&&regForma.get('jmbg').touched)">
          Unesite ispravan JMBG.
        </mat-error>
      </mat-form-field>
    </tr>

    <tr>
        <mat-form-field>
            <input matInput type="text" placeholder="Tajanstveno pitanje" formControlName="tajanstvenoPitanje">
            <mat-error *ngIf="regForma.get('tajanstvenoPitanje').hasError('required')">
              Ovo polje je obavezno.
            </mat-error>
          </mat-form-field>
    </tr>

    <tr>
        <mat-form-field>
            <input matInput type="text" placeholder="Tajanstveni odgovor" formControlName="tajanstveniOdgovor">
            <mat-error *ngIf="regForma.get('tajanstvenoPitanje').hasError('required')">
              Ovo polje je obavezno.
            </mat-error>
          </mat-form-field>
    </tr>

    <tr>
      <button mat-stroked-button type="button" (click)="izaberiFajl.click()">Izaberi profilnu sliku</button>
    </tr>
    <tr>
      <input type="file" #izaberiFajl (change)="izabranaSlika($event)">
      <mat-spinner *ngIf="isLoading"></mat-spinner>

      <div class="image-preview" *ngIf="linkSlike !=='' && linkSlike && regForma.get('slika').valid">
        <img [src]="linkSlike" [alt]="regForma.value.naslovSlike">
      </div>
    </tr>

  </table>


  <button mat-button type="submit()" [disabled]="!regForma.valid">Registruj se</button>



</form>