<h2>Moj broj</h2>
<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-card *ngIf="!isLoading">
Broj poena u ovoj igri: {{brojpoena}}


<form >


    <button *ngFor="let operator of operatori" (click)="dodajOperator(operator)">{{operator}}</button>

    <button (click)="obrisiSve()">Obrisi</button>
    <br>
    <br>
    <button  name="jednocifreni1" (click)="dodajBroj('jednocifreni1')" [disabled] = "jednocifreni1clicked">{{jednocifreni1}} </button>
    <button  name="jednocifreni2" (click)="dodajBroj('jednocifreni2')" [disabled] = "jednocifreni2clicked">{{jednocifreni2}}</button>
    <button  name="jednocifreni3" (click)="dodajBroj('jednocifreni3')" [disabled] = "jednocifreni3clicked">{{jednocifreni3}}</button>
    <button  name="jednocifreni4" (click)="dodajBroj('jednocifreni4')" [disabled] = "jednocifreni4clicked">{{jednocifreni4}}</button>
    <button  name="dvocifreni1"   (click)="dodajBroj('dvocifreni1')" [disabled] = "dvocifreni1clicked">{{dvocifreni1}}</button>
    <button  name="dvocifreni2"   (click)="dodajBroj('dvocifreni2')" [disabled] = "dvocifreni2clicked">{{dvocifreni2}}</button>
    <br>
    Trazeni broj: {{trazenibroj}}


    
    <br>
    <hr>
    <button (click)="stop()" [disabled]="!myTurn">Stop</button>
    <br>
    <button (click)="kraj()" *ngIf="!potvrdiclicked">Potvrdi</button>


    {{izraz}}

    <br>
    <hr>
    <br>
    <div *ngIf="vasrezultat!=''">Vas rezultat: {{vasrezultat}}</div>

    <mat-label class="tajmer"> <b> {{brojac}} </b> </mat-label>
    <mat-label *ngIf="brojac==0"> <b> Vreme isteklo! </b> </mat-label>


</form>

</mat-card>
