/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";


body {
    margin:0;
    text-align: center;
    background-color:"primary";
}

app-root{
    min-height: 100vh; /* will cover the 100% of viewport */

    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
}